@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
}

::selection {
  @apply bg-brand-200 dark:bg-brand-700;
}

.verse-text {
  @apply font-serif leading-relaxed;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}
